// colors
$dark-grey: #333333;
$grey : #666;
$blue: #1C88bf;
$dark-blue: #364051;
$off-white:#f7f7f7;

// font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


// sizes
$s-size:1.2rem;
$m-size: 1.6rem;
$xl-size:4.8rem;
$l-size:3.2rem;

// spacing
$desktop-breakpoint: 45rem;